[Unit]
Description=Balloon UDP server pressure
After=network-online.target
Wants=network-online.target
PartOf=balloon-main.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/projects/balloon_mission
ExecStart=/usr/bin/python3 /home/pi/projects/balloon_mission/src/udp/pressure_udp_server.py --background-log
Restart=on-failure
RestartSec=2
TimeoutStopSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=balloon-pressure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
